{:deps    {org.clojure/clojure        {:mvn/version "1.10.0-beta8"}
           org.clojure/tools.logging  {:mvn/version "0.4.0"}

           com.taoensso/sente         {:mvn/version "1.12.0"}
           com.taoensso/timbre        {:mvn/version "4.10.0"}
           com.cognitect/transit-cljs {:mvn/version "0.8.256"}

           re-frame                   {:mvn/version "0.10.5"}
           re-com                     {:mvn/version "2.2.0"}

           cljsjs/codemirror          {:mvn/version "5.31.0-0"}
           cljsjs/parinfer-codemirror {:mvn/version "1.4.1-2"}

           reptile-body               {:local/root "/opt/reptile/shared/reptile-body"}}

 :aliases {:fig  {:extra-paths ["resources" "target"]
                  :extra-deps  {org.clojure/clojurescript {:mvn/version "1.10.439"}
                                com.bhauman/figwheel-main {:mvn/version "0.1.9"}
                                com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}}
                  :main-opts   ["-m" "figwheel.main"]}
           :repl {:extra-paths ["dev" "/opt/reptile/shared/reptile-body/dev"]
                  :extra-deps  {clojure-watch {:mvn/version "0.1.14"}}
                  :main-opts   ["-i" "@reptile/start_reptile.clj"
                                "-m" "figwheel.main" "-b" "dev" "-r"]}
           :min  {:main-opts ["-m" "figwheel.main" "-O" "advanced" "-bo" "min"]}}}

