{:main            reptile.tongue.core
 :output-to       "resources/public/js/compiled/app.js"
 :output-dir      "resources/public/js/compiled/out"
 :asset-path      "js/compiled/out"
 :closure-defines {reptile.tongue.config/TAIL_SERVER      "localhost"
                   reptile.tongue.config/TAIL_SERVER_PORT "58885"}
 :external-config {:devtools/config {:features-to-install :all}}}
